<app-header (openSidenav)="toggleMenu()"></app-header>
<div class="flex">
  <app-menu *ngIf="openMenu"></app-menu>
  <div class="w-full h-full">
    <router-outlet></router-outlet>
    <footer class="flex justify-between items-center py-4 bottom-0 px-8 bg-white fixed" style="width: 85%">
      <div>
        <div class="font-bold">
          <span style="color: #0f75bc">Direción de Bienestar Universitario</span>
        </div>
        <div class="text-sm text-slate-400">
          <span>© 2012 - 2024 Área de Soporte Informático</span>
        </div>
      </div>
      <div>
        <div class="font-bold">
          <span style="color: #1abb9c">Universidad Nacional Agraria de la Selva</span>
        </div>
        <div class="text-sm text-slate-400">
          <span>UNAS / Tingo María - Perú</span>
        </div>
      </div>
    </footer>
  </div>
</div>
