<div class="w-full h-16 flex justify-between items-center" style="background: #1ABB9C">
  <div class="flex gap-6 justify-center items-center pl-6">
    <div class="logo">
      <img src="assets/logos/logo.svg" alt="logo dibu" class="h-12 w-12">
    </div>
    <div>
      <div class="text-white flex justify-center items-center gap-4">
        <span class="text-white font-bold">GESTION DE  TRAMITE DOCUMENTARIO</span>
        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H16V2H0V0ZM0 5H16V7H0V5ZM0 10H16V12H0V10Z" fill="white"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="px-6 py-3 text-white h-full flex items-center justify-center gap-2 cursor-pointer" routerLink="/auth/login" style="background: #0F75BC">
      <span>Ingresar</span>
      <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 0H0.5C0.367392 0 0.240215 0.0526785 0.146447 0.146447C0.0526785 0.240215 0 0.367392 0 0.5V9H6V6L11 10L6 14V11H0V19.5C0 19.6326 0.0526785 19.7598 0.146447 19.8536C0.240215 19.9473 0.367392 20 0.5 20H13.5C13.6326 20 13.7598 19.9473 13.8536 19.8536C13.9473 19.7598 14 19.6326 14 19.5V0.5C14 0.367392 13.9473 0.240215 13.8536 0.146447C13.7598 0.0526785 13.6326 0 13.5 0Z" fill="white"/>
      </svg>
  </div>
</div>
