<div class="px-8 py-12 overflow-auto w-full" style="height: calc(100vh - 64px)">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Dirección de Bienestar Universitario</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/OBU.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR A LA DIRECCIÓN</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Servicio Social</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Social.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR AL SERVICIO SOCIAL</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Tópico</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Topico.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR AL TOPICO</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Área de Psicopedagogía</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Psicopedagogia.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR AL ÁREA DE PSICOPEDADOGÍA</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Odontología</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Odontologia.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR A ODONTOLOGÍA</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Comedor Universitario</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Comedor.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR AL COMEDOR UNIVERSITARIO</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Residencia Estudiantil</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Residencia.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR A RESIDENCIA ESTUDIANTIL</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Complejo deportivo y piscina</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Complejo.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR AL COMPLEJO DEPORTIVO</small>
      </div>
    </div>
    <div class="border border-stone-300 rounded-md shadow-xl">
      <div class="flex justify-center items-center py-2">
        <small class="font-bold">Becas para Estudios de Pregrado</small>
      </div>
      <div class="p-4 flex justify-center">
        <img src="assets/img/Becas.png" alt="obu" class="w-[340px] h-[187px]" loading="lazy">
      </div>
      <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
        <small style="color: #1ABB9C" class="font-bold cursor-pointer">IR A BECAS EDUCATIVAS</small>
      </div>
    </div>
  </div>
</div>
