<div class="px-8 py-12 overflow-auto w-full pb-24" style="height: calc(100vh - 64px)">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (service of services; track service; let i = $index) {
      <div class="border border-stone-300 rounded-md shadow-xl">
        <div class="flex justify-center items-center py-2">
          <small class="font-bold">Dirección de Bienestar Universitario</small>
        </div>
        <div class="p-4 flex justify-center">
          <img [src]="service.image" [alt]="service.title" class="w-[340px] h-[187px]" loading="lazy">
        </div>
        <div class="w-full flex justify-center items-center h-11" style="background: #D9D9D933">
          <a [href]="service.url" target="_blank" style="color: #1ABB9C" class="font-bold cursor-pointer">IR A LA DIRECCIÓN</a>
        </div>
      </div>
    }
  </div>
</div>
